.comments {
  & > * {
    margin-top: 0.5rem;
  }
}

.inputBlock {
  margin-top: 0.5rem;
  padding: 1rem;

  .form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > :first-child {
      margin-right: 1rem;
    }
  }
}
